.buttonLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    height: 5px;
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 4px;
  }
  
  .buttonLink:hover {
    background-color: #000000;
    color: rgb(170, 138, 76);
  }
  
.input {
  border-radius: 6px;
  height: 25px;
}  