.paginado {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
  }
  
  .number {
    margin: 0 10px;
  }
  
  .number a {
    color: #333;
    text-decoration: none;
  }
  
  .number.active a {
    color: #fff;
    background-color: #333;
    border-radius: 50%;
    padding: 5px 8px;
  }
  